$main: #6100FF;
$red: #FF303C;
$dark-red: #3D0C0E;
$blue: #4e80ff;
$dark-blue: #0B163F;
$green: #2ae496;
$dark-green: #083030;
$black: #0c0c0c;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@mixin tablet {
    @media (min-width: 480px) and (max-width: 1024px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1600px) {
        @content;
    }
}

@mixin todo($main, $background) {
    width: 100%;
    background-color: $background;
    color: white;
    list-style: none;
    padding: 1rem;
    position: relative;
    border-radius: .3rem;
    margin-bottom: 1rem;

    & .indicator {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: .25rem solid $main;
    }

    & .content {
        font-family: "Open Sans";
        font-size: 1rem;
        width: calc(100% - 4rem);
        height: fit-content;
        margin-top: .3rem;
        padding: .3rem;
        transform: translateX(-.3rem);
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .3rem;
        outline: none;
        resize: none;
        overflow-y: hidden;
        pointer-events: none;
        transition: .3s ease-in-out;

        @include laptop() {
            min-height: 2.1em;
        }

        &.edit {
            background-color: rgba(white, .05);
            border: 1px solid rgba(white, .05);
            pointer-events: all;
        }

        &:focus {
            border: 1px solid rgba(white, .2);
        }
    }

    & .date {
        font-size: .8rem;
        opacity: .5;
        position: absolute;
        top: .8rem;
        left: 2.5rem;
    }

    & .posted {
        font-size: .7rem;
        opacity: .3;
    }

    & .button-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 1rem;

        & .checkbox {
            width: 3rem;
            height: 3rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(white, .05);
            border: 1px solid rgba(white, .05);
            border-radius: .3rem;

            &:hover {
                background-color: rgba(white, .1);
            }

            & img {
                width: 1.5rem;
                margin-bottom: .3rem;

                &.cross {
                    width: 1rem;
                    margin-bottom: 0;
                }
            }

            & input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }

        & .little-button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            & .little-button {
                width: 1rem;
                height: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    img {
                        opacity: .5;
                    }
                }
        
                img {
                    height: 100%;
                    opacity: .3;
                }
            }
        }
    }

    &.checked {
        background-color: rgba($background, .6);
        padding-bottom: .5rem;

        & .content {
            text-decoration: line-through;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    font-family: "Open Sans";
    background-color: $black;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 5rem 2rem 0 2rem;
    position: relative;

    @include laptop() {
        padding: 8rem 2rem 0 2rem;
        width: 100%;
        max-width: 84rem;
        margin: 0 auto;
    }

    & .logo {
        width: 6rem;
        position: absolute;
        top: 3rem;
        right: 2rem;

        @include laptop() {
            width: 8rem;
            top: 6rem;
        }
    }

    & .pretitle {
        font-family: "Poppins";
        font-weight: bold;
        font-size: 1.6rem;

        @include laptop() {
            font-size: 2rem;
        }
    }

    & .title {
        font-family: "Poppins";
        font-weight: bold;
        font-size: 4rem;
        line-height: 80%;

        @include laptop() {
            font-size: 6rem;
        }
    }

    & .subtitle {
        font-size: 1rem;
        margin-top: 1rem;

        @include laptop() {
            font-size: 1.2rem;
        }
    }
}

.gradient-1 {
    width: 100%;
    height: 16rem;
    background: radial-gradient(100% 100% at 0 0, $main, transparent),
                radial-gradient(90% 100% at 120% 0, rgba(#FF7A00, .7), transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include laptop() {
        height: 24rem;
    }
}

.gradient-2 {
    width: 120%;
    height: 10rem;
    background: radial-gradient(50% 100% at 50% 0, rgba(white, .1), transparent);
    position: absolute;
    top: 8rem;
    left: -8rem;
    transform: rotate(-16deg);
    z-index: -1;

    @include laptop() {
        width: 70%;
        height: 18rem;
        top: 12rem;
        left: -8rem;
    }
}

.todo-list {
    padding: 2rem;
    width: 100%;
    max-width: 84rem;
    margin: 0 auto;

    @include laptop() {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }

    .list-title {
        font-family: "Poppins";
        font-weight: bold;
        font-size: 1.2rem;
        margin: 2rem 0 1rem 0;
    }

    .todo {
        &.importance-1 {
            @include todo($red, $dark-red);
        }
    
        &.importance-2 {
            @include todo($blue, $dark-blue);
        }
    
        &.importance-3 {
            @include todo($green, $dark-green);
        }
    }
    
    .list-void {
        font-size: .8rem;
        color: #777777;
    }
}

.toggle-add {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    outline: none;
    border: none;
    background-color: $main;
    box-shadow: 0 .3rem 2rem rgba($main, .5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        transform: translateX(-50%) scale(1.05);
    }

    & .image {
        width: 1rem;
        transition: .8s cubic-bezier(.5, 1.5, .5, 1.5);

        &.add {
            transform: rotate(-135deg);
        }
    }
}

.background-dark-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background: linear-gradient(transparent, $black);
    pointer-events: none;
    z-index: 8;

    @include laptop() {
        display: none;
    }
}

.form-add {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba($black, .3), $black);
    backdrop-filter: blur(2rem);
    padding: 4rem 2rem;
    transition: 1s cubic-bezier(.5, 0, .1, 1);
    display: flex;
    flex-direction: column;
    z-index: 10;

    @include laptop() {
        padding: 12rem 20vw;
    }

    &.open {
        top: 0;
    }

    & .title {
        font-family: "Poppins";
        font-weight: bold;
        font-size: 1.8rem;
    }

    & label {
        margin: 1.5rem 0 .5rem .6em;
        font-size: 1rem;
    }

    & input, textarea, select {
        outline: none;
        padding: .4em .6em;
        background-color: rgba(white, .05);
        border: 1px solid rgba(white, .05);
        border-radius: .3rem;
        font-size: 1rem;
        width: fit-content;
    }

    & select option {
        color: $black;
    }

    & textarea {
        font-family: "Open Sans";
        resize: none;
        width: 100%;
        height: 8rem;

        &::placeholder {
            color: rgba(white, .2);
        }
    }

    & .container {
        display: flex;
        margin: 1rem 0 0 .6em;

        & label {
            margin: auto 0;
        }

        & select, input {
            margin: 0 .5rem;
        }
    }

    & .submit {
        border: none;
        outline: none;
        padding: .6em 1.2em;
        background-color: $main;
        border-radius: .3rem;
        font-family: "Poppins";
        font-size: 1rem;
        font-weight: bold;
        margin: 2rem auto 0 auto;
        width: fit-content;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }
    }
}

.footer {
    width: 100%;
    padding: 1rem;
    z-index: 9;

    @include laptop() {
        margin-top: auto;
    }

    p {
        font-size: .8rem;
        color: #7a7a7a;
        text-align: center;

        a {
            text-decoration: none;
            font-weight: bold;
            color: #7a7a7a;
        }
    }
}